# Ignore scraped assets and generated output
assets/
# output/

# Common ignores
.DS_Store
.vscode/
*.pem

# dependencies
node_modules/
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
.github/
.sisyphus/
assets
output